*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
header{
    position: relative;
    height: 9.58rem;
    width: 100%;
    background-image: linear-gradient(180deg, #37baff 0%, #47eaff 100%);
}
header>img{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7.5rem;
}
header>h2{
    position: absolute;
    top:0.38rem;
    left:0;
    right:0;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 0.36rem;
}
.pic{
    position: absolute;
    top:0.22rem;
    right:0.23rem;
    height: 0.5rem;
    width: 0.45rem;
    background: #ffffff;
    z-index: 10;
    padding: 0.005rem;
    border-radius: 0.05rem;
}
.pic>img{
    display: block;
    width: 100%;
}
.pollution{
    position: absolute;
    top: 1.22rem;
    left: 0.2rem;
    width: 1.46rem;
    height: 0.88rem;
    background-color: #f1ab62;
    border-radius: 0.1rem;
    font-size: 0.2rem;
    color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 0.1rem;
}
.pollution>span{
    font-size: 0.26rem;
}
.weather{
    position: absolute;
    top: 2.8rem;
    left:0;
    right: 0;
    margin: 0 auto;
    /*width: 2.16rem;*/
    /*height: 2rem;*/
    /*background-color: yellow;*/
    color: white;

    text-align: center;
}
.weather>h1{
    font-size: 0.6rem;
    /*text-align: center;*/
    font-weight: 400;
    line-height:0.6rem;
    margin-left: 0.24rem;
}
.weather>p{
    /*text-align: center;*/
    font-size: 0.48rem;
    width: 100%;
    margin-top: 0.3rem;
}
.weather>span{
    display: block;
    margin-top: 0.23rem;
    font-size: 0.3rem;
    /*float: left;*/
}
.tips{
    position: absolute;
    bottom: 3.75rem;
    left:0;
    right:0;
    margin: 0 auto;
    text-align: center;
    font-size: 0.36rem;
    color: white;
}
.temperature{
    width: 100%;
    height: 2.03rem;
    background: #fff;
    border-bottom: solid #e1e1e1 0.01rem;
    padding: 0.5rem 0;
    margin-bottom: 0.2rem;
}
.temperature>li{
    color: rgba(0,0,0,0.8);
    float: left;
    width: 50%;
    height: 100%;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    font-size: 0.3rem;
    padding: 0.1rem 0.4rem;
}
.temperature>li:first-child{
    border-right: solid #e1e1e1 0.01rem;
}
.temp-right>img{
    width: 0.45rem;
}
.circle{
    width: 0.38rem;
    height: 0.38rem;
    background: #ffd54f;
    border-radius: 50%;
}
.right{
    float: right;
}
.time{
    width: 100%;
    height: 2.68rem;
    background: #ffffff;
    border-top: solid #e1e1e1 0.01rem;
    border-bottom: solid #e1e1e1 0.01rem;
    padding: 0.56rem 0;
    margin-bottom: 0.2rem;
}
.time-content::-webkit-scrollbar {
    display:none
}
ul.time-content{
    overflow: scroll;
    display: flex;
    justify-content: space-between;
}
.time-content>li{
    width: 1.32rem;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    padding: 0 0.36rem;
    float: left;
    text-align: center;
}
.time-content>li>p{
    color: #dedede;
    font-size: 0.24rem;
    margin-bottom: 0.26rem;
}
.time-content>li>span{
    display: block;
    font-size: 0.3rem;
    color: rgba(0,0,0,0.8);
    margin-top: 0.2rem;
}
.time-content>li>img{
    display: block;
    width: 0.6rem;
    /*margin-left: 0.1rem;*/
}
.day{
    width: 100%;
    height: 7.78rem;
    background: #fff;
    border-top: solid #e1e1e1 0.01rem;
    border-bottom: solid #e1e1e1 0.01rem;
    margin-bottom: 0.2rem;
}
.everyday{
    padding: 0.42rem 0;
}
.everyday>li{
    float: left;
    text-align: center;
    width: 16.6%;
}
.everyday>li>p{
    color: #7e7e7e;
    font-size: 0.24rem;
}
.everyday>li>span{
    display: block;
    font-size: 0.24rem;
    color: #363636;
}
.morning{
    margin-top: 0.26rem;
}
.evening{
    margin-bottom: 0.26rem;
}
.state2{
    margin-top: 1.7rem;
}
.past{
    opacity: 0.8;
}
footer>ul{
    width: 100%;
    height: 3.76rem;
    background: #ffffff;
}
footer>ul>li{
    float: left;
    width: 25%;
    height: 50%;
    border: solid #e1e1e1 0.01rem;
    border-right: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer>ul>li:first-child{
    border-left:none;
}
footer>ul>li:nth-child(4){
     border-right: solid #e1e1e1 0.01rem;
}
footer>ul>li:nth-child(8){
    border-right: solid #e1e1e1 0.01rem;
}
footer>ul>li:nth-child(n+5){
    border-top: none;
}
.picture>i{
    display: block;
    font-size: 0.68rem;
}
.umbrella>.picture>i{
    color: #bfa2df;
}
.closed>.picture>i{
    color: #de9cbf;
}
.sun>.picture>i{
    color: #d8a799;
}
.sick>.picture>i{
    color: #dec69a;
}
.sport>.picture>i{
    color: #e5d89a;
}
.clean>.picture>i{
    color: #ade39e;
}
.fishing>.picture>i{
    color: #a2dee3;
}
.traffic>.picture>i{
    color: #6f8996;
}
footer>ul>li>p{
    width: 100%;
    font-size: 0.32rem;
    color: #424242;
}
footer>ul>li>span{
    display: block;
    font-size: 0.24rem;
    color: #d3d3d3;
}
.last{
    margin: 0.2rem;
    text-align: center;
    font-size: 0.24rem;
    color: #d3d3d3;
}
.main{
    transition: all 0.5s;
}
.search{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    background: white;
    z-index: 999;
    transform: scale(0,0);
    transition: all 0.5s;
}
.search-header{
    width: 100%;
    height: 1.8rem;
    border-bottom: solid #e1e1e1 0.01rem;
    margin-bottom: 0.2rem;
}
.search-header>p{
    /*background-color: #37baff;*/
    height: 50%;
    font-size: 0.36rem;
    /*line-height: 0.9rem;*/
    padding: 0.2rem;
}
.search-header>p>i{
    font-size: 0.36rem;
}
.search-text{
    padding: 0.15rem 0.2rem;
    font-size: 0.24rem;
}
.search-text>input{
    width: 5.98rem;
    height: 0.58rem;
    border: none;
    border-radius: 0.5rem;
    text-indent: 1em;
    background-color: #f2f2f2;
}
.search-text>span{
    font-size: 0.24rem;
    color: #656565;
    margin-left: 0.4rem;
}
.search-main{
    padding: 0 0.2rem;
    overflow: hidden;
}
.province{
    width: 100%;
    font-size: 0.3rem;
    float: left;
    margin-top: 0.2rem;
    color: #333;
}
.search-main>p{
    width: 100%;
    /*background-color: yellow;*/
    margin-top: 0.2rem;
    font-size: 0.36rem;
    color: #202020;
}
.search-main>ul{
    overflow: hidden;
}
.location{
    float: left;
    width: 2.18rem;
    height: 0.56rem;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.56rem;
    color: #292929;
    margin: 0.2rem 0.18rem;
    margin-left: 0;
}
.hot{

}